/* COLORS */
:root {
  --nutmeg: hsl(14, 45%, 36%);
  --raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --grey: hsl(30, 18%, 87%);
  --brown: hsl(30, 10%, 34%);
  --charcoal: hsl(24, 5%, 18%);
}

/* TYPOGRAPHY */
@font-face {
  font-family: 'outfit';
  src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'young-serif';
  src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('ttf');
}

/* MAIN */
body {
  background-color: var(--eggshell);
  color: var(--grey);
}

h1 {
  font-family: 'outfit', serif;
  color: var(--charcoal);
}

p {
  font-size: 16px;
  font-family: 'young-serif', sans-serif;
  color: var(--brown);
}

h2 {
  color: var(--brown);
}

.preparation {
  background-color: var(--rose);
}

#preparation-time {
  color: var(--raspberry);
  font-weight: 600;
}
